html {box-sizing:border-box;}
*, *::after, *::before {box-sizing:inherit}

.calculator {
    background: rgb(118, 173, 95);
    color: white;
    width: 550px;
    height: 290px;
    margin: auto;
}

button {
    background: rgb(145, 191, 127);
    color: black;
    font-size: 25px;
    height: 50px;
    width: 250px;
    margin: 10px;
}

input {
    background: transparent;
    color: black;
    height: 50px;
    width: 550px;
    font-size: 20px;
    text-align: right;
}



